<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
  <%= render "layouts/left_panel" %>
  <!-- Right Panel -->

  <div id="right-panel" class="right-panel">


      <%= render "layouts/header" %>
      <div class="breadcrumbs">
          <div class="col-sm-4">
              <div class="page-header float-left">
                  <div class="page-title">
                      <h1>Chat</h1>
                  </div>
              </div>
          </div>

          <div class="col-sm-8">
              <div class="page-header float-right">
                  <div class="page-title">
                      <ol class="breadcrumb text-right">
                          <li><a href="/">GotCrash</a></li>
                          <li><a href="/bids">Bids</a></li>
                          <li class="active">Chat</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
      <div class="content mt-3">
          <div class="animated fadeIn">
          <div class="row">
          <div class="col-lg-10">
          <div class="card">
          <div class="card-body card-block">



    <% if @over_ten %>
    <%= link_to "Show Previous", "?m=all" %>
    <% end %>

    <div class="messages">
      <% @messages.each do |message| %>
      <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class=”header”><strong><%= user.name %></strong> <%= message.created_at.strftime("%F %R") %></div>
      <%= message.body %>
      <br>
      <% end %>
        <% if !message.picture_url.blank?%>
        <%= link_to "View Atatchment:", message.picture_url_url.to_s, target: '_blank' %>
        <% end %>
      <% end %>
    </div>
    <br>
    <%= form_for [@fixer,@bid, @message], html: {class: "ui reply form"} do |f| %>
    <div class=”field”>
      <%= f.text_area :body, class: "form-control form-body" %>
    </div>
    <div class="field form-group">
      <%= f.label "Add a File:" %>
      <%= f.file_field :picture_url , class: "col-sm-3 form-control"%>
      <%= f.hidden_field :picture_url_cache, class: "image-submit" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <hr>
    <div>
      <%= f.submit "Add Reply", id: "submit" %>
    </div>
    <% end %>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</body>
