<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <%= render "layouts/left_panel" %>
    <div id="right-panel" class="right-panel">


        <%= render "layouts/header" %>
    <p id="notice"><%= notice %></p>

    <% if @over_ten %>
    <%= link_to "Show Previous", "?m=all" %>
    <% end %>

    <div class="messages">
      <% @messages.each do |message| %>
      <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class=”header”><strong><%= user.name %></strong> <%= message.created_at %></div>
      <%= message.body %>
      <% end %>
        <% if !message.picture_url.blank?%>
        <br>
        <%= link_to "View Atatchment:", message.picture_url_url.to_s, target: '_blank' %>
        <% end %>
      <% end %>
    </div>
    <%= form_for [@fixer,@bid, @message], html: {class: "ui reply form"} do |f| %>
    <div class=”field”>
      <%= f.text_area :body, class: "form-control form-body" %>
    </div>
    <div class="field form-group">
      <%= f.label "Add a File:" %>
      <%= f.file_field :picture_url , class: "col-sm-3 form-control"%>
      <%= f.hidden_field :picture_url_cache %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div>
      <%= f.submit "Add Reply" %>
    </div>

    <% end %>
  </div>
</body>
