<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>
</head>

<body>
  <%= render "layouts/left_panel" %>
  <!-- Right Panel -->

  <div id="right-panel" class="right-panel">


      <%= render "layouts/header" %>
      <div class="breadcrumbs">
          <div class="col-sm-4">
              <div class="page-header float-left">
                  <div class="page-title">
                      <h1>Conversation</h1>
                  </div>
              </div>
          </div>

          <div class="col-sm-8">
              <div class="page-header float-right">
                  <div class="page-title">
                      <ol class="breadcrumb text-right">
                          <li><a href="/">GotCrash</a></li>
                          <li><a href="/bids">Bids</a></li>
                          <li class="active">Conversation</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
      <div class="content mt-3">
          <div class="animated fadeIn">
          <div class="row">
          <div class="col-lg-10">
          <div class="card">
          <div class="card-body card-block">

    <div class="messages">
      <div class="simplebar-content" style="padding: 0px calc(20px) 0px 0px; height: 100%">
      <% @messages.each do |message| %>
        <% if message.user_id != nil %>
          <% user = User.find(message.user_id) %>
          <div class="message-header">
            <%= image_tag user.picture_url_url.to_s, class:"img-circle small-image"%>
            <div class="message-name">
              <strong><%= user.name %></strong>
              <div class="message-time"><%= message.created_at.strftime("%F %R") %></div>
            </div>
          </div>


          <% if message.body %>
          <div class="message-body">
            <%= message.body %>
          </div>
          <% end %>


          <% if !message.picture_url.blank?%>
          <div class="message-attachment">
            <%= link_to "View Atatchment", message.picture_url_url.to_s, target: '_blank' %>
          </div>
          <% end %>
          <%end%>
      <% end %>
      </div>
    </div>
    <br>
    <%= form_for [@fixer,@bid, @message], html: {class: "ui reply form"} do |f| %>
    <div class=”field”>
      <%= f.text_area :body, class: "form-control form-body" %>
    </div>
    <br>
    <%= f.label "Add an Atatchment:"%>
    <%= f.file_field :picture_url%>
    <%= f.hidden_field :picture_url_cache, class: "image-submit" %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <hr>
    <div>
      <%= f.submit "Add Reply", id: "submit", class:"btn btn-primary" %>
    </div>
    <% end %>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(2).addClass("active");
  });
</script>
</html>
