<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Edit My Profile</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/profiles">My Profile</a></li>
                            <li class="active">Edit</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-10">
            <div class="card">

              <div class="card-body card-block">
                <%= form_for(@profile) do |form| %>
                  <% if @profile.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this user from being saved:</h2>

                      <ul>
                      <% @profile.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                <div class="form-group row form_part">
                  <%= form.label "Name:" %>
                  <%= form.text_field :name, class: "col-sm-2 form-control"%>
                </div>
                <div class="field form-group row form_part">
                  <%= form.label "Email:"%>
                  <%= form.text_field :email, class: "col-sm-2 form-control"%>
                </div>
                <div class="field form-group row form_part">
                  <%= form.label "Address:"%>
                  <%= form.text_field :address, class: "col-sm-2 form-control"%>
                </div>
                <div class="field form-group row form_part">
                  <%= form.label "Phone Number:"%>
                  <%= form.text_field :phone, class: "col-sm-2 form-control"%>
                </div>
                <div class="field form-group row form_part">
                  <%= form.label "Type of Account:"%>
                  <%= form.select(:type,[["Owner", "Owner"],["Fixer", "Fixer"]],{}, { :class => "col-sm-1 form-control" })%>
                </div>
                <div class="field form-group row form_part">
                  <%= form.label "Password:" %>
                  <%= form.text_field :password, class: "col-sm-2 form-control ", type: "password"%>
                </div>
                <div class="field form-group row form_part">
                  <%= form.label "Password Confirmation:" %>
                  <%= form.text_field :password_confirmation, class: "col-sm-2 form-control", type: "password"%>
                </div>
                <div class="field form-group row form_part">
                  <%= form.label "Profile Picture:" %>
                  <%= form.file_field :picture_url , class: "col-lg-6"%>
                  <%= form.hidden_field :picture_url_cache %>
                </div>

                <div class="actions">
                  <%= form.submit "Update", class: "btn btn-primary", style: "margin-top:10px" %>
                </div>
                <% end %>

              </div>
            </div>
    </div><!-- /#right-panel -->
</body>

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(0).addClass("active");
  });
</script>
</html>
