<html>
  <head>
    <title>Profile Edit Page</title>
  </head>

  <body>

<%= form_with(model: @profile, local: true) do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label "Name:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :name, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Email:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :email, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Address:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :address, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Phone Number:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :phone, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Type of Account:" , class: "col-sm-2 col-form-label"%>
    <%= form.select(:type,[["Owner", "Owner"],["Fixer", "Fixer"]],{}, { :class => "col-sm-1 form-control" })%>
  </div>
  <div class="field form-group row">
    <%= form.label "Password:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :password, class: "col-sm-2 form-control ", type: "password"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Password Confirmation:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :password_confirmation, class: "col-sm-2 form-control", type: "password"%>
  </div>
  <div class="field form-group">
    <%= form.label "Profile Picture:" %>
    <%= form.file_field :picture_url , class: "col-sm-3 form-control"%>
    <%= form.hidden_field :picture_url_cache %>
  </div>

  <div class="actions">
    <%= form.submit "Sign Up", class: "btn" %>
  </div>
<% end %>
</body>
</html>
