<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <%= render "layouts/left_panel" %>
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">


        <%= render "layouts/header" %>
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>My Profile</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li class="active">My Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-10">
            <div class="card">
            <div class="card-body card-block">
              <div style = "padding:20px">
                <h2>Hi, <%= @user2.name %></h2>
                <hr>
              </div>
              <div class="col-lg-7">
                <%= image_tag current_user.picture_url_url.to_s, style:"height:300px; width:300px" %>
              </div>
              <div class="col-lg-5">
                <h3 class="padding_label">
                  <strong>Name:</strong>
                  <%= @user2.name %>
                </h3>
                <hr>
                <h3 class="padding_label">
                  <strong>Email:</strong>
                  <%= @user2.email %>
                </h3>
                <hr>
                <h3 class="padding_label">
                  <strong>Address:</strong>
                  <%= @user2.address %>
                </h3>
                <hr>
                <h3 class="padding_label">
                  <strong>Phone:</strong>
                  <%= @user2.phone %>
                </h3>
                <hr>
                <% if @user2.type == 'Fixer' %>

                  <h3 class="padding_label">
                    <strong>Average Rating:</strong>
                    <%= @fUser.average_rating %>
                  </h3>
                <% end %>
              </div>


    <div class="col-lg-12">
      <hr>

      <% if current_user.type == 'Fixer'%>
        <div class="field form-group row form_part">
          <%= label_tag  'Existing labels:' %>
          <% fja = FixerJoinAuto.where(fixer_id: current_user.id) %>
          <% fja.each do |fja| %>
            <br>
            <%= AutoPart.where(id: fja.auto_part_id).to_a[0].name %>
          <% end %>
        </div>
      <% end %>





      <div class="col-lg-4">
        <%= link_to '<button type="button"  class="btn btn-success">Edit Your Profile </button>'.html_safe, profiles_edit_path(current_user)%>
      </div>
      <div class="col-lg-4 col-lg-offset-4">
          <%= link_to '<button type="button"  class="btn btn-danger btn-back">Log out </button>'.html_safe, logout_path%>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div><!-- /#right-panel -->
</body>


<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(0).addClass("active");
  });
</script>
</html>
