<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


  <body>
    <div class="container">
      <h1><%= @user2.type %> Profile Page</h1>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <%= image_tag @user2.picture_url_url.to_s %>
        </div>
        <div class="col-sm-5">
          <h4 style="display:inline">Name:</h4>
          <p><%= @user2.name %></p>
          <hr>
          <h4 style="display:inline">Email:</h4>
          <p><%= @user2.email %></p>
          <hr>
          <h4 style="display:inline">Address:</h4>
          <p><%= @user2.address %></p>
          <hr>
          <h4 style="display:inline">Phone:</h4>
          <p><%= @user2.phone %></p>
          <hr>
        </div>
      </div>
      <hr>
      <div class="col-sm" style="padding-bottom:20px">
        <% if @user2.type == "Owner"%>
          <%= link_to '<button type="button"  class="btn btn-primary">My Cars </button>'.html_safe, cars_path%>
          <!-- Cars need to be shown here -->
          <%= link_to '<button type="button"  class="btn btn-primary">Add My Car </button>'.html_safe, new_car_path%>
        <% end %>
      </div>
      <%= link_to '<button type="button"  class="btn btn-success">Edit Your Profile </button>'.html_safe, profiles_edit_path%>
    </div>
  </body>
<html>
