<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <%= render "layouts/left_panel" %>
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>My Profile</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li class="active">My Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
        <div class="col-lg-10">
            <div class="card">

              <div class="container" style = "padding-top:20px">
                <h2>Hi, <%= @user2.name %></h2>
                <hr>
              </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <%= image_tag @user2.picture_url_url.to_s, style:"height:300px;" %>
      </div>
      <div class="col-lg-7">
        <h3 class="padding_label">
          <strong>Name:</strong>
          <%= @user2.name %>
        </h3>
        <hr>
        <h3 class="padding_label">
          <strong>Email:</strong>
          <%= @user2.email %>
        </h3>
        <hr>
        <h3 class="padding_label">
          <strong>Address:</strong>
          <%= @user2.address %>
        </h3>
        <hr>
        <h3 class="padding_label">
          <strong>Phone:</strong>
          <%= @user2.phone %>
        </h3>
      </div>
    </div>
    <hr>
    <div class="col-sm" style="padding-bottom:20px">
      <% if @user2.type == "Owner"%>
        <%= link_to '<button type="button"  class="btn btn-primary">My Cars </button>'.html_safe, cars_path%>
        <!-- Cars need to be shown here -->
        <%= link_to '<button type="button"  class="btn btn-primary edit_move2">Add A Car </button>'.html_safe, new_car_path%>
      <% end %>
    </div>

      <%= link_to '<button type="button"  class="btn btn-success edit_move">Edit Your Profile </button>'.html_safe, profiles_edit_path(current_user)%>
      <%= link_to '<button type="button"  class="btn btn-success edit_move">Log out </button>'.html_safe, logout_path%>
    </div>


    </div>
    </div><!-- /#right-panel -->
</body>

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(0).addClass("active");
  });
</script>
</html>
