<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


  <body>
    <div class="container">
      <h1><%= @user2.type %> Profile Page</h1>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <%= image_tag @user2.picture_url_url.to_s %>
        </div>
        <div class="col-sm-5">
          <h4 style="display:inline">Name:</h4>
          <p><%= @user2.name %></p>
          <hr>
          <h4 style="display:inline">Email:</h4>
          <p><%= @user2.email %></p>
          <hr>
          <h4 style="display:inline">Address:</h4>
          <p><%= @user2.address %></p>
          <hr>
          <h4 style="display:inline">Phone:</h4>
          <p><%= @user2.phone %></p>
          <hr>
        </div>
      </div>
      <hr>
      <%= link_to '<button type="button"  class="btn btn-success">Edit Your Profile </button>'.html_safe, profiles_edit_path%>

      <div class="col-sm" style="padding-bottom:20px">
        <% if @user2.type == "Owner"%>
        <p id="notice"><%= notice %></p>

        <h1>Cars</h1>

        <table>
          <thead>
            <tr>
              <th>Make</th>
              <th>Model</th>
              <th>Color</th>
              <th>Year</th>
              <th>Vin</th>
              <th>licence</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @cars.each do |car| %>
              <tr>
                <td><%= car.make %></td>
                <td><%= car.model %></td>
                <td><%= car.color %></td>
                <td><%= car.year %></td>
                <td><%= car.vin %></td>
                <td><%= car.licence %></td>
                <td><%= link_to 'Show', car %></td>
                <td><%= link_to 'Edit', edit_car_path(car) %></td>
                <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Car', new_car_path %>

        <% end %>
      </div>
    </div>
  </body>








<html>
