<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>

<div class="show-report">
    <div class="col-lg-7">
      <%= image_tag @report.picture_url_url.to_s, style:"height:203px;width:300px;padding:5px" %>
    </div>
    <div class="col-lg-5">
      <h3 class="padding_label2">
        <strong>Reporter:</strong>
        <%= @report.owner_id %>
      </h3>
      <h3 class="padding_label2">
        <strong>Make:</strong>
        <%= @car.make %>
      </h3>
      <h3 class="padding_label2">
        <strong>Car model:</strong>
        <%= @car.model %>
      </h3>
      <h3 class="padding_label" id="distancemile">
       Distance: <%= @distance %> miles
      </h3>
      <h3 class="padding_label2">
        <strong>Descrption:</strong>
      </h3>
      <h3 class="padding_label2">
        <%= @report.description %>
      </h3>
    </div>

    <div class="col-lg-2">
      <%= link_to 'Start an Estimate!', {:controller=>"bids", :action=>"new", :fixer_id=>current_user, :report_id => @report.id}, :class => "btn btn-outline-primary" %>
    </div>

</div>
