<h1>Reports available </h1>

<div class="mapouter">
<div class="map" id="fixermap"></div>
</div>

<table>
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <%car = Car.find(report.car_id) %>
      <tr>
        <td>Report # <%= report.id %></td>
        <td>Car make <%= car.make %></td>
        <td>Car model <%= car.model %></td>
        <td>Car year <%= car.year %></td>
        <td>Report Description <%= report.description %></td>
        <td>Completed? <% if report.completed == 0 %>
        No
        <% else  %>
          Yes
          <% end %></td>
        <td><%= link_to 'View Pic', {:controller=>"bids", :action=>"viewpic", :report_id => report.id} %></td>
        <td><%= link_to 'Bid it!', {:controller=>"bids", :action=>"new", :fixer_id=>current_user, :report_id => report.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
