<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWBlx4DztlxWz5BxNCOi2dZX3ubSr_Ab4&callback=initMap&libraries=geometry" async defer></script>
<%= javascript_include_tag "map.js" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= stylesheet_link_tag "map.css" %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>


        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>New Bid</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="<%=fixer_bids_path(current_user)%>">My Bids</a></li>
                            <li class="active">New</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
        <div class="col-lg-10">
            <div class="card">

              <div class="container" style = "padding:20px">

<h2>Reports around you </h2>
<div>
  Search on:
  <input type="text" id="filterdesp"></input>
  <button onclick="loadsomeReports()">See these reports</button>
  <button onclick="loadReports()">See all reports instead</button>
</div>
<div class="mapouter col-sm-10" style="margin-top:20px">
<div class="map" id="fixermap" ></div>


<div id= "showreport" style="display: none"></div>
<table id= "reporttable" style="display:none">
  <thead>
    <tr>
      <th>Report Description</th>
      <th colspan="1"></th>
    </tr>
    </thead>
    <tbody >
        <% @reports.each do |report| %>
        <tr >
          <td><%= report.description %></td>
          <td><%= button_tag "See on Map", :onclick => "moveToReport(#{report.id})"%></td>
        </tr>
          <% end %>
    </tbody>
</table>
</div>
</div><!-- /#right-panel -->

</html>
