<html>
<head>
  <%= javascript_include_tag "map.js" %>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWBlx4DztlxWz5BxNCOi2dZX3ubSr_Ab4&libraries=geometry,places&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= stylesheet_link_tag "map.css" %>
  <%= include_gon %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>


        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>New Bid</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="<%=fixer_bids_path(current_user)%>">My Bids</a></li>
                            <li class="active">New</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
        <div class="col-lg-10">
            <div class="card">

              <div class="container" style = "padding:20px">
<div class="search-report">
<h2>Reports around you </h2>
<div class="search-line">
  <h3 style="display:inline">Search on:</h3>
  <input type="text" id="filterdesp" class= "form-control" style="width:40%;display:inline"></input>
  <button onclick="loadsomeReports()" class="btn btn-primary">See these reports</button>
  <button onclick="loadReports()" class="btn btn-primary">See all reports instead</button>
</div>
</div>
<div class="mapouter col-sm-10" style="margin-top:20px">
<div class="map" id="fixermap" ></div>


<div id= "showreport" style="display: none"></div>
<div class="card">
  <table id= "reporttable" class="table table-striped" style="display:none" >
    <thead>
      <tr>
        <th>Description</th>
        <th>Reporter</th>
        <th>Time</th>
        <th colspan="4"></th>
      </tr>
      </thead>
      <tbody >
          <% @reports.each do |report| %>
          <tr >
            <td><%= report.description %></td>
            <td><%= User.find(report.owner_id).name %></td>
            <td><%= report.created_at %></td>
            <td><%= link_to 'See on Map', "javascript:moveToReport(#{report.id})" %></td>
          </tr>
          <% end %>
      </tbody>
  </table>
<table id= "filtertable" class="table table-striped" style="display:none"></table>
</div>
</div>
<!-- /#right-panel -->

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(1).addClass("active");
  });

  $(document).ready(function(){
   while (document.getElementById("fixermap").value === ""){
     initMap();
   }
  });
</script>
</html>
