<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>New Bid</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/reports">My Bids</a></li>
                            <li class="active">new bid></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


        <div class="content mt-3">
            <div class="animated fadeIn">
              <div class="row">
                <div class="col-lg-11">
                  <div class="card">
                    <div class="card-body card-block">

                  <%= form_with(model: @bid, local: true,url:fixer_bids_path ) do |form| %>
                    <% if @bid.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

                        <ul>
                        <% @bid.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <p>Report Information</p>
                    <hr>

                    <div class="field form-group row form_part" >
                      <%= image_tag @report.picture_url_url.to_s, style:"height:230px;"%>
                    </div>


                    <div class="field form-group row form_part">
                      <%= label_tag "Address:"  %>
                      <%= @report.address  %>
                    </div>

                    <div class="field form-group row form_part">
                      <%= label_tag "Report Description:"  %>
                      <%= @report.description %>
                    </div>

                    <p>Bid Information</p>
                    <hr>


                    <div class="field">
                      <%= form.hidden_field :report_id, :value => @report.id %>
                    </div>

                    <div class="field form-group row form_part">
                      <%= form.label :description %>
                      <%= form.text_area :description, class: "col-sm-2 form-control" %>
                    </div>

                    <div class="field form-group row form_part">
                      <%= form.label "Cost($)" %>
                      <%= form.number_field :cost, class: "col-sm-2 form-control" %>
                    </div>

                    <div class="col-lg-6 margintop_btn">
                      <%= form.submit 'Submit', class: "btn btn-danger edit_move4", style: "width:100px" %>
                    </div>
                    <div class="col-lg-1 col-lg-offset-5 margintop_btn">
                      <%= link_to 'Back', fixer_bids_path, class: "btn btn-primary edit_move5", style: "width:100px"  %>
                    </div>
                  <% end %>

                  </div>

                  </div>
                </div>
              </div>
            </div>

          </div><!-- /#right-panel -->

<script type="text/javascript">
$(function(){
$(".navbar-nav>li").eq(2).addClass("active");
});
</script>

</html>
