<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Bid #<%=@bid.id%></h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/reports">My Reports</a></li>
                            <li class="active">#<%=@bid.id%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-11">
            <div class="card">



              <div class="col-lg-7">
                <h3 class="padding_label">
                  <strong>Report id:</strong>
                </h3>
                <p>
                  <%= @bid.report_id %>
                </p>
                <hr>
                <h3 class="padding_label">
                  <strong>Description:</strong
                </h3>
                <p>
                  <%= @bid.description %>
                </p>
                <hr>
                <h3 class="padding_label">
                  <strong>Cost</strong>
                </h3>
                <p>
                  <%= @bid.cost %>
                </p>
                <hr>
                <h3 class="padding_label">
                  <strong>Did the user ignore it?</strong>
                </h3>
                <p>
                  <% if @bid.ignored == 0 %>
                    No
                    <% else  %>
                    Yes
                    <% end %>
                </p>
              </div>
            </div>

            <div class="col-lg-6 margintop_btn">
              <%= link_to 'Edit bid', edit_fixer_bid_path(current_user, @bid), class: "btn btn-danger  edit_move2" %>
            </div>
            <div class="col-lg-2 col-lg-offset-4 margintop_btn">
              <% if current_user.type == 'Owner' %>
              <%= link_to 'Back', report_path(@bid.report_id), class: "btn btn-primary", style: "width:100px"  %>
              <% else %>
              <%= link_to 'Back', fixer_bids_path, class: "btn btn-primary", style: "width:100px"  %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>



</div><!-- /#right-panel -->

    <script type="text/javascript">
      $(function(){
        $(".navbar-nav>li").eq(1).addClass("active");
      });
    </script>

</html>
