<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </div>
      </ul>
  <% end %>
  <div class="field form-group row">
    <%= form.label "Name:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :name, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Email:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :email, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Address (of home or store):" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :address, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Phone Number:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :phone, class: "col-sm-2 form-control"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Are you someone who needs a car fixed? Or are you one who fixes cars?" , class: "col-sm-2 col-form-label"%>
    <%= form.select(:type,[["Owner", "Owner"],["Auto Shop", "Fixer"]],{}, { :class => "col-sm-1 form-control" })%>
  </div>
  <div class="field form-group row">
    <%= form.label "Password:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :password, class: "col-sm-2 form-control ", type: "password"%>
  </div>
  <div class="field form-group row">
    <%= form.label "Password Confirmation:" , class: "col-sm-2 col-form-label"%>
    <%= form.text_field :password_confirmation, class: "col-sm-2 form-control", type: "password"%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
