<html>
<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
              <div class="login-logo">
                  <a href="/">
                    <span>GotCrash</span>
                  </a>
              </div>
                <div class="login-form">
                  <%= form_with(model: @user, local: true) do |form| %>
                    <% if @user.errors.any? %>
                      <div id="error_explanation">
                        <ul>
                        <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" name="user[name]" class="form-control" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" name="user[email]" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Phone Number (Format: 1234567890)</label>
                        <input type="text" name="user[phone]" class="form-control" placeholder="Phone" pattern="[0-9]{10}"required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" name="user[address]" class="form-control" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label>Who are you</label>
                        <select name="user[type]" class="form-control-sm form-control">
                            <option value="Owner">I am a car owner</option>
                            <option value="Fixer">I am a car fixer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="user[password]" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Password Confirmation</label>
                        <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Password">
                    </div>
                    <div class="field form-group hidden">
                      <%= form.label "Profile Picture:" %>
                      <%= form.file_field :picture_url , class: "col-sm-3 form-control"%>
                      <%= form.hidden_field :picture_url_cache %>
                    </div>
                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
                    <div class="register-link m-t-15 text-center">
                        <p>Already have account ? <a href="login"> Sign in</a></p>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
  </html>
