<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<!-- if owner
  Say I am an owner here!
  else if fixers
  Say I am a fixer here!
-->
<% if @user.type == "Owner"%>
  <p>I am an Owner </p>
<% elsif @user.type == "Fixer" %>
  <p>I am a Fixer</p>
  <p><%= link_to 'See my Bids',fixer_bids_path(@user)%></p>
  <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |

<%= link_to 'Log Out', logout_path %>
