<html>
<head>
  <%= javascript_include_tag "map.js" %>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWBlx4DztlxWz5BxNCOi2dZX3ubSr_Ab4&libraries=geometry,places&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= stylesheet_link_tag "map.css" %>
  <%= include_gon %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>


        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Auto Shop Search</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li class="active">Auto Shop Search</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
        <div class="col-lg-10">
            <div class="card">

              <div class="container" style = "padding:20px">
<div class="search-report">
<h2>Auto shops around you </h2>
<div class="search-line">
  <h3 style="display:inline">Choose a label:</h3>
  <select id="shoplabel" class= "form-control" style="width:20%;display:inline">
    <option value=0></option>
    <option value=1>Lights Broken</option>
    <option value=2>Doors Damage</option>
    <option value=3>Windows Broken</option>
    <option value=4>Electrical Malfunction</option>
    <option value=5>Audio/video Devices Problem</option>
    <option value=6>Cameras Malfunction</option>
    <option value=7>Ignition Problem</option>
    <option value=8>Battery Dead</option>
    <option value=9>Sensors Problem</option>
    <option value=10>Car seat Problem</option>
    <option value=11>Braking Problem</option>
    <option value=12>Engine Problem</option>
    <option value=13>Flat Tire</option>
    <option value=14>Oil Change</option>
  </select>
  <br>
  <h3 style="display:inline">Search on names:</h3>
  <input type="text" id="filtername" class= "form-control" style="width:30%;display:inline"></input>
  <button onclick="loadsomeShops()" class="btn btn-primary">See these shops</button>
  <button onclick="loadShops()" class="btn btn-primary">See all shops</button>
  <h3 id="numshopfound" style="color:red;"></h3>
</div>
</div>
<div class="mapouter col-sm-10" style="margin-top:20px">
<div class="map" id="shopmap">
  Error loading map, click to retry.
<button onclick="initMap()">Retry</button>
</div>
</div>

<div id= "showshop" style="display: none"></div>
  <div class="col-lg-10">
  <table id= "shoptable" class="table table-striped" style="display:none" >
    <thead>
      <tr>
        <th>Auto Shop</th>
        <th>Review</th>
      </tr>
      </thead>
      <tbody >
          <% @shops.each do |shop| %>
          <tr >
            <td><%= shop.name %></td>
            <td><%= shop.name%></td>
            <td><%= link_to 'See on Map', "javascript:moveToShop(#{shop.id})" %></td>
          </tr>
          <% end %>
      </tbody>
  </table>
<table id= "filtershop" class="table table-striped" style="display:none"></table>
  </div>
</div>
<!-- /#right-panel -->

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(1).addClass("active");
  });
</script>
</html>
