
                <% if !:vin.nil? %>
                <%= form_with(model: @car) do |form| %>
                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <label for="vin" data-tooltip="The car's vehicle identification number (VIN) is the identifying code for a SPECIFIC automobile.">Vin number:</label>
                    </div>
                    <div class="col-md-9">
                      <%= text_field_tag :vin, params[:vin], placeholder: "Use Vin number to search detail information here", onchange: "search_vin(#{:value})", class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :make, "Make company:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :make, class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :model, "Specific model:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :model, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :year, "Production year:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :year, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :vehicle_type, "Type of Vehicle:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :vehicle_type, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :body_class, "Auto Body Class:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :body_class, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :doors, "Number of doors:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :doors, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :gross_vehicle_weight_rating, "Weight of your car:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :gross_vehicle_weight_rating, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :transmission_style, "Transmission Style:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :transmission_style, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :engine_number_of_cylinders, "Number of Cylinders in Engine:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :engine_number_of_cylinders, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :engine_power, "House Power (KW):" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :engine_power, class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :fuel_type, "Fuel Type:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :fuel_type, class: "form-control" %>
                    </div>
                  </div>

                <div class="row form-group form_part">
                  <div class="col-md-2">
                    <%= form.label :color, "Color:" %>
                  </div>
                  <div class="col-md-9">
                    <%= form.text_field :color, class: "form-control" %>
                  </div>
                </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :licence, "Car license:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :licence, class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label "Car Picture:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.file_field :picture_url %>
                      <%= form.hidden_field :picture_url_cache %>
                    </div>
                  </div>

                  <%= form.submit "Submit", class: "btn btn-primary edit_move2" %>
                <% end %>
              <% end %>

<script type="text/javascript">
  function search_vin(value){
    // alert(value.length);
    if (value.length == 17){
      $.ajax({
        method: 'Post',
        url: '/search_vin',
        data: {vin: value},
        headers: {
          'X-Transaction': 'POST Example',
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
      });
    }
  }
</script>
