<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
      <!-- Header-->
      <%= render "layouts/header" %>
      <!-- Header-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Edit car information</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/cars">My Cars</a></li>
                            <li class="active">Edit</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-10">
            <div class="card">
              <div class="card-body card-block">
                <%= form_with(model: @car, local: true) do |form| %>
                  <% if @car.errors.any? %>
                  wenbo
                    <div id="error_explanation">
                      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this user from being saved:</h2>

                      <ul>
                      <% @car.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="form-group row form_part">
                    <%= form.label "Make company:" %>
                    <%= form.text_field :make, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Specific model:" %>
                    <%= form.text_field :model, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Production year:" %>
                    <%= form.text_field :year, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Vin number:" %>
                    <%= form.text_field :vin, class: "col-sm-2 form-control" %>
                  </div>


                  <div class="form-group row form_part">
                    <%= form.label "Vehicle Type:" %>
                    <%= form.text_field :vehicle_type, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Auto Body Class:" %>
                    <%= form.text_field :body_class, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Number of doors:" %>
                    <%= form.text_field :doors, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Weight of your car:" %>
                    <%= form.text_field :gross_vehicle_weight_rating, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Transmission Style:" %>
                    <%= form.text_field :transmission_style, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Number of Cylinders in Engine:" %>
                    <%= form.text_field :engine_number_of_cylinders, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "House Power (KW):" %>
                    <%= form.text_field :engine_power, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Fuel Type:" %>
                    <%= form.text_field :fuel_type, class: "col-sm-2 form-control" %>
                  </div>


                  <div class="form-group row form_part">
                    <%= form.label "Color:" %>
                    <%= form.text_field :color, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="form-group row form_part">
                    <%= form.label "Car license:" %>
                    <%= form.text_field :licence, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="row form-group form_part">
                    <%= form.label "Car Picture:" %>
                  </div>
                  <div class="row form-group form_part">
                    <%= form.file_field :picture_url %>
                    <%= form.hidden_field :picture_url_cache %>
                  </div>
                  <div class="actions">
                    <%= form.submit "Update car information", class: "btn btn-primary", style: "margin-top:10px" %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        </div>
    </div><!-- /#right-panel -->
</body>

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(1).addClass("active");
  });
</script>
</html>
