<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Add a new car</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/cars">My Cars</a></li>
                            <li class="active">new</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-10">
            <div class="card">
              <div class="card-body card-block">
                <!-- <h1>Type in your VIN number below to get your car information</h1> -->
                <%= form_tag new_car_path, method: :get, :remote => true, :id => "vin_searching" do%>
                   <div class="row form-group form_part">
                     <div class="col-md-11">
                       <%= text_field_tag :vin, params[:vin], placeholder: "Use Vin number to search detail information here", onchange: "search_vin(#{:value})", class: "col-sm-2 form-control" %>
                     </div>
                   </div>
                <% end %>
                <div id = "show_result">
                <%= render partial: 'search_result'%>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /#right-panel -->
</body>

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(1).addClass("active");
  });

function search_vin(value){
  // alert(value.length);
  if (value.length == 17){
    $.ajax({
      method: 'Post',
      url: '/search_vin',
      data: {vin: value},
      headers: {
        'X-Transaction': 'POST Example',
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
    });
  }
}



</script>
</html>
