<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Add a new car</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/cars">My Cars</a></li>
                            <li class="active">new</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-10">
            <div class="card">
              <div class="card-body card-block">
                <!-- <h1>Type in your VIN number below to get your car information</h1> -->
                <%= form_tag new_car_path, method: :get do%>
                   <div class="row form-group form_part">
                     <div class="col-md-9">
                       <%= text_field_tag :vin, params[:vin], placeholder: "Type your vin number here...", class: "col-sm-2 form-control" %>
                     </div>
                      <%= submit_tag "Search my VIN", :class => "btn btn-primary col-sm-2" %>
                   </div>
                <% end %>

                <% if !:vin.nil? %>
                <%= form_with(model: @car) do |form| %>
                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :vin, "Vin number:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :vin, disabled: true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :make, "Make company:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :make, disabled: true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :model, "Specific model:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :model, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :year, "Production year:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :year, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :vehicle_type, "Type of Vehicle:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :vehicle_type, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :body_class, "Auto Body Class:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :body_class, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :doors, "Number of doors:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :doors, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :gross_vehicle_weight_rating, "Weight of your car:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :gross_vehicle_weight_rating, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :transmission_style, "Transmission Style:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :transmission_style, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :engine_number_of_cylinders, "Number of Cylinders in Engine:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :engine_number_of_cylinders, disabled: true, class: "form-control" %>
                    </div>
                  </div>


                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :engine_power, "House Power (KW):" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :engine_power, disabled: true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :fuel_type, "Fuel Type:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :fuel_type, disabled: true, class: "form-control" %>
                    </div>
                  </div>

                <div class="row form-group form_part">
                  <div class="col-md-2">
                    <%= form.label :color, "Color:" %>
                  </div>
                  <div class="col-md-9">
                    <%= form.text_field :color, class: "form-control" %>
                  </div>
                </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label :licence, "Car license:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.text_field :licence, class: "form-control" %>
                    </div>
                  </div>

                  <div class="row form-group form_part">
                    <div class="col-md-2">
                      <%= form.label "Car Picture:" %>
                    </div>
                    <div class="col-md-9">
                      <%= form.file_field :picture_url %>
                      <%= form.hidden_field :picture_url_cache %>
                    </div>
                  </div>

                  <%= form.submit "Submit", class: "btn btn-primary edit_move2" %>
                <% end %>
              <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /#right-panel -->
</body>

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(1).addClass("active");
  });
</script>
</html>
