<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->


        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>My car <%=@car.licence%> </h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/cars">My Cars</a></li>
                            <li class="active">Car <%=@car.licence%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
              <div class="row">
              <div class="col-lg-10">
              <div class="card">
                <div class="card-body card-block">
                  <div class="col-lg-7" >
                    <%= image_tag @car.picture_url_url.to_s, style:"height:320px;"%>
                  </div>
                  <div class="col-lg-5">
                    <h4 class="padding_label">
                      <strong>Make:</strong>
                      <%= @car.make %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Model:</strong>
                      <%= @car.model %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Year:</strong>
                      <%= @car.year %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Vin:</strong>
                      <%= @car.vin %>
                    </h4>
                    <hr>

                  </div>
                  <div class="col-lg-12">
                    <h4 class="padding_label">
                      <strong>Vehicle Type:</strong>
                      <%= @car.vehicle_type %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Auto Body Class:</strong>
                      <%= @car.body_class %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Number of doors:</strong>
                      <%= @car.doors %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Weight of your car:</strong>
                      <%= @car.gross_vehicle_weight_rating %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Transmission Style:</strong>
                      <%= @car.transmission_style %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Number of Cylinders in Engine:</strong>
                      <%= @car.engine_number_of_cylinders %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>House Power (KW):</strong>
                      <%= @car.engine_power %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Fuel Type:</strong>
                      <%= @car.fuel_type %>
                    </h4>
                    <hr>

                    <h4 class="padding_label">
                      <strong>License:</strong>
                      <%= @car.licence %>
                    </h4>
                    <hr>
                    <h4 class="padding_label">
                      <strong>Color:</strong>
                      <%= @car.color %>
                    </h4>
                    <hr>
                  </div>

                  <div class="col-lg-6">
                    <%= link_to 'Edit car information', edit_car_path(@car), class: "btn btn-danger edit_move2" %>
                  </div>
                  <div class="col-lg-2 col-lg-offset-4">
                    <%= link_to 'Back', profiles_path, class: "btn btn-primary", style: "width:120px" %>
                  </div>

                </div>
              </div>
              </div>
              </div>
            </div>
          <div>
    </div><!-- /#right-panel -->
</body>

<script type="text/javascript">
  $(function(){
    $(".navbar-nav>li").eq(1).addClass("active");
  });
</script>
</html>
