<%= form_with model: @review do |form| %>

  <div>
    <h1>add new review for Auto-shoper</h1>
    <%= @curFixer.name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
