
<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Review #<%=@review.id%></h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/reports">Reviews about me</a></li>
                            <li class="active">#<%=@review.id%></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-11">
            <div class="card">

                <div class="card-body">
                <h3 class="padding_label">
                  <strong>This review is from Car Owner</strong>
                </h3>
                <h3 class="padding_label grey">
                  <%= Owner.find(Report.find(@review.report_id).owner_id).name %>
                </h3>
                <hr>
                <h3 class="padding_label">
                  <strong>The report was about:</strong
                </h3>
                <h3 class="padding_label grey">
                  <%=Report.find(@review.report_id).description %>
                </h3>
                <hr>
                <h3 class="padding_label">
                  <strong>Rating:</strong>
                </h3>
                <h3 class="padding_label grey">
                  <%= @review.rating %>
                </h3>
                <hr>
                <h3 class="padding_label">
                  <strong>Comment:</strong>
                </h3>
                <h3 class="padding_label grey">
                  <%= @review.description %>
                </h3>
              </div>
            </div>


            <div class="col-lg-6 margintop_btn">
              <% if current_user.type == 'Owner' %>
              <%= link_to 'Back', report_path(@review.report_id), class: "btn btn-primary", style: "width:100px"  %>
              <% else %>
              <%= link_to 'Back', reviews_index_path, class: "btn btn-primary", style: "width:100px"  %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>



</div><!-- /#right-panel -->

    <script type="text/javascript">
      $(function(){
        $(".navbar-nav>li").eq(2).addClass("active");
      });
    </script>

</html>
