<%= form_with model: @report, local: true do |f| %>
  <div class="field form-group row form_part">
    <%= f.label :car_licence, 'Choose your car:' %>
    <%= f.select(:car_id, @cars.collect { |c| [ c.licence, c.id ] }, {}, { :class => "col-sm-1 form-control" })%>
  </div>
  <div class="field form-group row form_part">
    <%= f.label :description, 'Description:' %>
    <%= f.text_field :description, class: "col-sm-2 form-control" %>
  </div>
  <div class="field form-group row form_part">
    <%= f.label :privacy, 'Whether to allow public:', :style => "display:inline-block" %>
    <div style="display:inline-block">
      <%= f.check_box :privacy, :data => { :toggle => 'toggle-two', :on => "Private",
      :off => 'Public', :size => 'normal', :style => 'ios'} %>
      </div>
    </div>

<div class="field form-group row form_part">
  <% rjas = ReportJoinAuto.where(report_id: @report.id) %>
  <% if rjas.size > 0 %>
    <%= f.label  'Car problems:' %>
    <% rjas.each do |rja| %>
      <br>
      <%= AutoPart.where(id: rja.auto_part_id).to_a[0].name %>
      <%= link_to 'Destroy', report_join_auto_path(rjaID: rja.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>



  <div class="field form-group row form_part">
    <%= f.label  'Add more problems:' %>
    <br/>
    <% @APs.each do |ap|%>
      <% if ReportJoinAuto.exists?(report_id: @report.id, auto_part_id: ap.id) == false %>
        <div class="inputGroup checkbox_label">
          <%= check_box_tag "#{ap.id}" %>
          <%= label_tag "#{ap.id}", "#{ap.name}" %>
        </div>
      <% end %>
    <% end%>
  </div>

  <div class="field form-group row form_part">
    <%= f.label :picture_url, 'Upload a picture:' %>
    <%= f.file_field :picture_url %>
    <%= f.hidden_field :picture_url_cache %>
  </div>
  <div class="field form-group row form_part">
    <%= f.label :address, 'Address:' %>
    <%= f.text_field :address, id:'reportaddress', class: "col-sm-2 form-control"%>
    Use my current Location <input type="checkbox" id="useCurrLocation" onclick="checkbox()">
  </div>
  <div class="field">
    <%= f.hidden_field :longitude, id: 'longitude' %>
  </div>
  <div class="field">
    <%= f.hidden_field :latitude, id: 'latitude' %>
  </div>
  <div class="mapouter">
  <div class="map" id="ownermap">
    Error loading map, click to retry.
<button onclick="initMap()">Retry</button>
  </div>
  </div>





  <%= f.submit "Submit", class: "btn btn-primary", style: "margin-top:10px"%>

<% end %>
