<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Edit My Profile</h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li><a href="/profiles">My Profile</a></li>
                            <li class="active">Edit</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
            <div class="row">
            <div class="col-lg-10">
            <div class="card">

              <div class="card-body card-block">
                <%= form_with(model: @report, local: true) do |form| %>

                  <div class="field form-group row form_part">
                    <%= form.label :address %>
                    <%= form.text_field :address, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="field form-group row form_part">
                    <%= form.label :description %>
                    <%= form.text_field :description, class: "col-sm-2 form-control" %>
                  </div>

                  <div class="field form-group row form_part">
                    <%= form.label :privacy %>
                    <%= form.select(:privacy,[["Private", 1],["Public", 0]], {}, class: "col-sm-2 form-control")%>
                  </div>

                  <div class="field form-group row form_part">
                    <%= form.label :completed %>
                    <%= form.select(:completed,[["Yes", 1],["No", 0]], {}, class: "col-sm-2 form-control")%>
                  </div>

                  <div class="actions">
                    <%= form.submit "Submit", class: "btn btn-primary", style: "margin-top:10px" %>
                  </div>
                <% end %>

              </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    </div><!-- /#right-panel -->
  </body>

  <script type="text/javascript">
    $(function(){
      $(".navbar-nav>li").eq(2).addClass("active");
    });
  </script>
</html>
