<html>
<head>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "admin.js" %>
</head>

<body>
    <!-- Left Panel -->
    <%= render "layouts/left_panel" %>
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <%= render "layouts/header" %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                  <h1 style="display: inline-block;">My Bids</h1>
                  <select name="select" id="select" class="form-control select" onchange="changeReportTable(this.options[this.options.selectedIndex].value)">
                      <option value="0">All</option>
                      <option value="1">Completed</option>
                      <option value="2">Incompleted</option>
                  </select>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">GotCrash</a></li>
                            <li class="active">My Reports</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

            <div class="card">

              <div class="container">
                <div id = "report_table">
                  <%= render partial: 'reportTable' %>
                </div>
                <br>

                <%= link_to 'New Report', new_report_path, class: "btn btn-primary" %>
              </div>
            </div>
    </div><!-- /#right-panel -->
  </body>

  <script type="text/javascript">
    $(function(){
      $(".navbar-nav>li").eq(2).addClass("active");
    });

    function changeReportTable(value) {
      // alert(value);
        $.ajax({
          method: 'Post',
          url: '/search_report',
          data: { value: value},
        });
    };
  </script>
</html>
