<%
@cars = current_user.cars
 %>
<html>
  <head>
    <title>new report</title>
  </head>

  <body>

    <div class='container'>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <h1>New Report</h1>
      <%= form_with model: @report do |f| %>
        <div class="field">
          <%= f.label :car_licence, 'Choose your car:' %>
          <%= f.select :car_id, @cars.collect { |c| [ c.licence, c.id ] } %>
        </div>
        <div class="field">
          <%= f.label :description, 'Description:' %>
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.label :privacy, 'If public:' %>
          <%= f.select(:privacy, options_for_select([['Public', 0], ['Private', 1]])) %>
        </div>
        <div class="field">
          <%= f.file_field :picture_url %>
          <%= f.hidden_field :picture_url_cache %>
        </div>
        <div class="field">
          <%= f.label :address, 'Address:' %>
          <%= f.text_field :address ,id:'address'%>
          Use my current Location <input type="checkbox" id="useCurrLocation" onclick="checkbox()">
        </div>
        <div class="field">
          <%= f.hidden_field :longitude, id: 'longitude' %>
        </div>
        <div class="field">
          <%= f.hidden_field :latitude, id: 'latitude' %>
        </div>
        <%= f.submit %>
      <% end %>
      </div>
      <br>
      <div class="mapouter">
      <div class="map" id="ownermap"></div>
      </div>
      <div id="confirmLoc" style="display: none">
        Please confirm if this is the location for your report!
      <p><button onclick="confirmLocation()">Confirm</button></p>
        If not, please try again and make sure you enter the city name or the zipcode.
      </div>
  </body>
</html>
