<%
@cars = current_user.cars
 %>
<html>
  <head>
    <title>new report</title>
  </head>

  <body>

    <div class='container'>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <h1>New Report</h1>
      <%= form_with model: @report do |f| %>
        <div class="field">
          <%= f.label :car_licence, 'Choose your car:' %>
          <%= f.select :car_id, @cars.collect { |c| [ c.licence, c.id ] } %>
        </div>
        <div class="field">
          <%= f.label :address, 'Address:' %>
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.label :description, 'Description:' %>
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.label :privacy, 'If public:' %>
          <%= f.select(:privacy, options_for_select([['Public', 0], ['Private', 1]])) %>
        </div>
        <div class="field">
          <%= f.file_field :picture_url %>
          <%= f.hidden_field :picture_url_cache %>
        </div>
        <%= f.submit %>
      <% end %>
      </div>
  </body>
</html>
