<!DOCTYPE html>
<html>
  <head>
    <title>GotCrash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <%= include_gon %>
  </head>

  <body>
    <% if flash[:success] %>
    <div class="notify bar-top do-show" data-notification-status="success">
      <%= flash[:success] %>
    </div>
    <% end %>
    <% if flash[:danger] %>
    <div class="notify bar-top do-show" data-notification-status="warning">
      <%= flash[:danger] %>
    </div>
    <% end %>
    <%=yield %>
  </body>
</html>
